<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>deploy-wali</name>
  <description>deployment</description>
  <remoteFS>/home/wali/</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.854.v7fd446b_337c9">
    <host>172.31.39.139</host>
    <port>22</port>
    <credentialsId>23b0cc08-6fa8-43d0-8328-b8ccad135f12</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>deploy</label>
  <nodeProperties/>
</slave>